body {
    background-color: #b7ffbf ;;
    color: #333333;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(trilliumgradient.png);
}

header {
    background-color: #05e805;
    color: #5c7430;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h2 {
    background-color: #05ed83;
    color: #5c7430;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: url(trilliumbullet.gif);
    background-repeat: no-repeat;
    padding-left: 30px;
}
p {font-size: .90em;}

ul {
    font-weight: bold;
}

nav{
    font-weight: bold;
    font-size: .75em;
}

footer{
    font-size: .75em;
    font-style: italic;
    border-top: thin solid #aeaed4;
    padding-top: 10px;
}

#container{
    background-color: #FFFFFF;
    padding: 20px;
    width: 80%;
    margin: auto;
    box-shadow: 5px 5px 5px #1e1e1e;
    background: url(trilliumfoot.gif) no-repeat bottom right, #FFFFFF;
}


